AccessControl==6.2
accessify==0.3.1
Acquisition==5.1
aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
astroid==3.0.1
async-timeout==4.0.2
attrs==22.2.0
AuthEncoding==5.0
Babel==2.9.1
beautifulsoup4==4.12.2
blinker==1.7.0
BTrees==5.1
certifi==2022.12.7
cffi==1.16.0
Chameleon==4.2.0
charset-normalizer==3.1.0
click==8.1.7
colorama==0.4.6
coverage==7.3.2
DateTime==5.2
dill==0.3.7
Django==5.0
DocumentTemplate==4.5
escape==1.1
ExtensionClass==5.1
fastapi==0.110.0
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
frozenlist==1.3.3
greenlet==3.0.3
h11==0.14.0
idna==3.4
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
magic-filter==1.0.9
MarkupSafe==2.1.3
mccabe==0.7.0
multidict==6.0.4
MultiMapping==5.0
multipart==0.2.4
node==1.2.1
numpy==1.24.2
odict==1.9.0
packaging==23.2
pandas==2.0.0
PasteDeploy==3.0.1
Persistence==4.1
persistent==5.1
platformdirs==4.0.0
pluggy==1.3.0
plumber==1.7
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pylint==3.0.2
pytest==7.4.3
python-dateutil==2.8.2
python-gettext==5.0
pytz==2023.3
readFile==1.0.3
requests==2.31.0
RestrictedPython==7.0a2.dev0
roman==4.1
scipy==1.11.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.28
sqlparse==0.4.4
starlette==0.36.3
tomlkit==0.12.3
transaction==3.1.0
typing_extensions==4.10.0
tzdata==2023.3
urllib3==2.0.7
uvicorn==0.29.0
waitress==2.1.2
WebOb==1.8.7
WebTest==3.0.0
Werkzeug==3.0.1
WSGIProxy2==0.5.1
yarl==1.8.2
z3c.pt==4.0
zc.lockfile==3.0.post1
ZConfig==4.0
zExceptions==5.0
ZODB==5.8.1
zodbpickle==3.1
Zope==5.8.6
zope.annotation==5.0
zope.browser==3.0
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.1
zope.cachedescriptors==5.0
zope.component==6.0
zope.configuration==5.0
zope.container==5.2
zope.contentprovider==5.0
zope.contenttype==5.1
zope.datetime==5.0.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.dottedname==6.0
zope.event==5.0
zope.exceptions==5.0.1
zope.filerepresentation==6.0
zope.globalrequest==2.0
zope.hookable==5.4
zope.i18n==5.1
zope.i18nmessageid==6.1.0
zope.interface==6.0
zope.lifecycleevent==5.0
zope.location==5.0
zope.pagetemplate==5.0
zope.processlifetime==3.0
zope.proxy==5.0.0
zope.ptresource==5.0
zope.publisher==7.0
zope.schema==7.0.1
zope.security==6.2
zope.sequencesort==5.0
zope.site==5.0
zope.size==5.0
zope.structuredtext==5.0
zope.tal==5.0.1
zope.tales==6.0
zope.testbrowser==6.0
zope.testing==5.0.1
zope.traversing==5.0
zope.viewlet==5.0
asgiref==3.7.2
Django==4.2.1
django-debug-toolbar==4.1.0
Pillow==9.5.0
sqlparse==0.4.4
tzdata==2023.3
mysqlclient
python-dotenv