<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Заказы клиентов</title>
</head>
<body>
<h1>Заказы за {{ client.name }}</h1>

<h2>Заказы за Неделю:</h2>
<ul>
    {% for order in orders_week %}
    {% for product in order.products.all %}
    {% if not product.id in products_ids %}
    <li>{{ product.name }}</li>
    {% with products_ids|add:product.id as products_ids %}
    {% endwith %}
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>

<h2>Заказы за Месяц:</h2>
<ul>
    {% for order in orders_month %}
    {% for product in order.products.all %}
    {% if not product.id in products_ids %}
    <li>{{ product.name }}</li>
    {% with products_ids|add:product.id as products_ids %}
    {% endwith %}
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>

<h2>Заказы за год:</h2>
<ul>
    {% for order in orders_year %}
    {% for product in order.products.all %}
    {% if not product.id in products_ids %}
    <li>{{ product.name }}</li>
    {% with products_ids|add:product.id as products_ids %}
    {% endwith %}
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>
</body>
